@mixin theme($theme: rgb(46, 120, 240), $accent: whitesmoke){
    background-color: $theme;
    color: $accent;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: "Anta", sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  // Mobile Design
  @media screen and (width < 800px){
    .container {
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 75px 1fr;
      grid-template-areas:
        "top-section"
        "middle-section";
      background-color: whitesmoke;
  
      .top-section {
        grid-area: top-section;
        z-index: 1;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        display: flex;
        @include theme;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px 0px gray;
  
        #heading {
          color: whitesmoke;
          display: flex;
        }
  
        #details {
          color: whitesmoke;
          font-size: 1.5rem;
          margin: 1.5rem;
          text-align: center;
        }
      }
  
      .middle-section {
        grid-area: middle-section;
        display: flex;
        flex-flow: column nowrap;
        background-color: whitesmoke;
  
        #map {
          z-index: 0;
          height: 100%;
        }
      }
  
      .lap-selction-container {
        width: 100%;
        bottom: 0;
        position: absolute;
        display: flex;
        @include theme;
        border-radius: 20px 20px 0px 0px;
        border-top: 2px white solid;
        border-left: 2px white solid;
        border-right: 2px white solid;
        box-shadow: 0 0 10px 0px gray;
        transition: 1.5s ease;
        translate: 0px calc(100% - 5rem);
        align-items: center;
        flex-flow: column nowrap;
  
        #collapse {
          display: flex;
          flex: 0 0 auto;
          margin: 0.5rem;
          height: 10px;
          width: 50px;
          background-color: whitesmoke;
          border-radius: 10px;
        }
  
        h3 {
          margin: 1rem 0rem 0rem;
        }
  
        #select-button {
          margin: 1.5rem 2rem 2.5rem;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          align-items: center;
  
          button {
            cursor: pointer;
            height: 50px;
            width: 35px;
            @include theme($theme: rgb(16, 104, 247));
            border: 2px solid  whitesmoke;
            border-radius: 5px;
            font-size: 1rem;
          }  
          button:focus{
            background-color: rgb(77, 143, 249);
            box-shadow: 0 0 10px 0px white;
          }
          button:hover {
            scale: 1.2;
            box-shadow: 0 0 10px 0px white;
          }
        }
      }
      .lap-selction-container:hover {
        translate: 0px 0%;
        transition: 1.5s ease;
      }
    }
  }
  
  // Desktop Design
  @media screen and (width >= 800px){
    .container {
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "top-section middle-section";
  
      .top-section {
        grid-area: top-section;
        z-index: 1;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        display: flex;
        flex-flow: column nowrap;
        @include theme;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0 0 10px 0px gray;
  
        #heading {
          color: whitesmoke;
          display: flex;
  
        }
  
        #details {
          color: whitesmoke;
          font-size: 1.5rem;
          margin: 1.5rem;
          text-align: center;
        }
      }
  
      .middle-section {
        grid-area: middle-section;
  
        #map {
          z-index: 0;
          height: 100%;
        }
      }
  
      .lap-selction-container {
        display: flex;
        @include theme;
        align-items: center;
        flex-flow: column nowrap;
  
        #collapse {
          display: none;
        }
  
        h3 {
          margin: 0rem;
        }
  
        #select-button {
          margin: 1.5rem 2rem 2.5rem;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          justify-content: center;
          align-items: center;
  
          button {
            cursor: pointer;
            height: 50px;
            width: 35px;
            @include theme($theme: rgb(16, 104, 247));
            border: 2px solid  whitesmoke;
            border-radius: 5px;
            font-size: 1rem;
          }  
          button:focus{
            background-color: rgb(77, 143, 249);
            box-shadow: 0 0 10px 0px white;
          }
          button:hover {
            scale: 1.2;
            box-shadow: 0 0 10px 0px white;
          }
        }
      }
    }
  }