$main-color: rgb(46, 120, 240);

@mixin theme($theme-color: $main-color, $accent: whitesmoke) {
  background-color: $theme-color;
  color: $accent;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Anta", sans-serif;
  background-color: aliceblue;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 11% 1fr 15%;
  grid-template-areas:
    "top-section"
    "middle-section"
    "bottom-section";

  .top-section {
    grid-area: top-section;
    @include theme;
    border-radius: 0 0 20px 20px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px gray;
  }

  .middle-section {
    grid-area: middle-section;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    #select-race {
      display: flex;

      div:hover {
        transition: 1s;
        scale: 1.05;
        box-shadow: 0 0 10px 5px $main-color;
      }

      h2 {
        display: flex;
        justify-content: center;
        margin: 0;
      }

      h3,
      h4 {
        margin: 0;
        display: flex;
        align-items: flex-start;
      }

      #date {
        padding: 0.3rem 0 1rem;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $main-color;
      }

      #laps {
        padding: 1rem 0 0;
        border-top: 1px solid $main-color;
        display: flex;
        justify-content: center;
      }
    }
  }

  .bottom-section {
    grid-area: bottom-section;
    display: flex;
    justify-content: center;
    align-items: center;

    #nextpage {
      @include theme();
      padding: 15px;
      border-radius: 10px;
      text-decoration: none;
      cursor: pointer;
      border: 2px solid white;
      box-shadow: 0 0 10px 0px gray;
    }
    #nextpage:hover {
      transition: 0.5s;
      scale: 1.1;
      box-shadow: 0 0 10px 0px $main-color;
    }
  }
}

@media screen and (width>=768px) {
  .container {
    .top-section {
      h1 {
        font-size: 3rem;
      }
    }
    .bottom-section {
      #nextpage {
        font-size: 1rem;
        padding: 20px;
        border-radius: 15px;
      }
    }
  }
}
