$main-color: rgb(46, 120, 240);

@mixin theme($theme: $main-color, $accent: whitesmoke) {
  background-color: $theme;
  color: $accent;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Anta", sans-serif;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 11% 1fr;
  grid-template-areas:
    "top-section"
    "middle-section";

  .top-section {
    grid-area: top-section;
    @include theme;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 0 0 5px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;

    .lap-details-container {
      display: none;
    }

    #details {
      font-size: 1.5rem;
      margin: 1.5rem;
      text-align: center;
    }
  }

  .middle-section {
    grid-area: middle-section;
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    #return {
      @include theme;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      top: 0.6rem;
      right: 0.5rem;
      text-decoration: none;
      padding: 8px;
      border-radius: 10px;
      border: 2px solid whitesmoke;
      box-shadow: 0 0 5px 1px gray;
    }
    #return:hover {
      transition: 0.5s;
      scale: 1.1;
    }

    #map {
      z-index: 0;
      height: 100%;
    }
  }

  .lap-selction-container {
    position: absolute;
    @include theme;
    width: 100%;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
    box-shadow: 0 0 10px 0px gray;
    transition: 1.5s ease;
    translate: 0px calc(100% - 5rem);
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    #collapse {
      display: flex;
      flex: 0 0 auto;
      margin: 0.5rem;
      height: 10px;
      width: 50px;
      background-color: whitesmoke;
      border-radius: 20px;
    }

    h2 {
      margin: 0.5rem 0rem 0rem;
    }

    #select-button {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 200px;
      width: auto;
      margin: 1.5rem 0rem 0rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      button {
        cursor: pointer;
        height: 47px;
        width: 100%;
        @include theme($theme: rgb(61, 129, 239));
        border: none;
        border-top: 1px solid whitesmoke;
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        div {
          margin: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
      button:focus {
        @include theme($theme: rgb(14, 102, 244));
      }
    }
  }
  .lap-selction-container:hover {
    translate: 0px 0%;
    transition: 1.5s ease;
  }
}

@media screen and (width >= 500px) {
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "top-section middle-section";

    .top-section {
      border-radius: 0px 20px 20px 0px;
      border-left: none;
      border-top: 2px solid white;
      align-items: center;
      justify-content: flex-start;
      flex-flow: column nowrap;
      overflow: hidden;

      .heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid whitesmoke;
        #heading {
          margin: 1rem;
        }
      }

      .lap-selction-container {
        margin: 1.5rem 0rem 0rem;
        position: relative;
        @include theme($theme: transparent);
        border: 0;
        box-shadow: none;
        transition: 0;
        translate: 0 0;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        #collapse {
          display: none;
        }

        h2 {
          align-self: flex-start;
          margin: 0 1rem;
        }

        #select-button {
          width: 100%;
          height: 400px;

          button {
            width: 100%;

            div {
              width: 100%;
            }
          }
        }
      }
      .lap-selction-container:hover {
        border: 0;
        box-shadow: none;
        translate: 0px 0%;
        transition: 0;
      }

      .lap-details-container {
        border-top: 1px solid whitesmoke;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-items: flex-start;
        min-height: 100%;

        h2 {
          margin: 1.5rem 1rem;
        }

        #lap-details {
          @include theme($theme: rgb(61, 129, 239));
          width: 100%;
          border: 1px solid whitesmoke;
          border-left: none;
          border-right: none;
          padding: 1rem;
          min-height: 100%;

          h3 {
            margin: 0.5rem 0rem;
            font-size: 1rem;
            span {
              color: orange;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .middle-section {
      #return {
        font-size: 1rem;
        padding: 20px;
        border-radius: 15px;
        top: 25px;
        right: 25px;
      }
    }
  }
}
