html,
body {
  height: 100%;
  margin: 0;
  background-color: pink;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "top-section"
    "middle-section"
    "bottom-section";
  background-color: whitesmoke;

  .top-section {
    grid-area: top-section;
    display: flex;
    width: 100%;
    background-color: rgb(20, 190, 220);
    justify-content: center;
    align-items: center;
  }

  .middle-section {
    grid-area: middle-section;
    display: flex;
    flex-flow: column nowrap;
    background-color: whitesmoke;
    justify-content: space-between;

    #map {
      height: 70%;
      border: 5px solid white;
    }
    .lap-selction-container {
      padding: 5px;
      height: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column nowrap;

      h4 {
        margin: 1rem 0rem;
      }

      #select-button {
        margin: 1rem 0rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;

        button {
          height: 40px;
          width: 30px;
        }
        button:hover {
          scale: 1.1;
          box-shadow: 20px black;
        }
      }

      /* div {
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

      }*/
    }
  }

  .bottom-section {
    grid-area: bottom-section;
    display: flex;
    width: 100%;
    background-color: rgb(20, 190, 220);
    justify-content: center;
    align-items: center;
  }
}
