@mixin theme($theme: rgb(46, 120, 240)){
  background-color: $theme;
  color: whitesmoke;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Anta", sans-serif;
}

// Mobile Design
@media screen and (width < 500px){
  .container {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    grid-template-areas:
      "top-section"
      "middle-section";
    background-color: whitesmoke;

    .top-section {
      grid-area: top-section;
      display: flex;
      @include theme;
      justify-content: center;
      align-items: center;

      #heading {
        color: whitesmoke;
        display: flex;
      }

      #details {
        color: whitesmoke;
        font-size: 1.5rem;
        margin: 1.5rem;
        text-align: center;
      }
    }

    .middle-section {
      position: relative;
      grid-area: middle-section;
      display: flex;
      flex-flow: column nowrap;
      background-color: whitesmoke;

      #map {
        z-index: 0;
        height: 100%;
      }

      .lap-selction-container {
        width: 99.46%;
        position: absolute;
        bottom: 0;
        top: 90.5%;
        display: flex;
        background-color: whitesmoke;
        border-radius: 20px 20px 0px 0px;
        border: 2px white solid;
        box-shadow: 0 0 10px 0px gray;
        transition: 1.5s ease;

        align-items: center;
        flex-flow: column nowrap;

        #collapse {
          display: flex;
          flex: 0 0 auto;
          margin: 0.5rem;
          height: 10px;
          width: 50px;
          background-color: lightgray;
          border-radius: 10px;
        }

        h3 {
          margin: 0.7rem 0rem;
        }

        #select-button {
          margin: 1rem 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;

          button {
            height: 50px;
            width: 35px;
            @include theme;
            border: 0;
            border-radius: 5px;
            color: whitesmoke;
            font-size: 1rem;
          }
          button:hover {
            scale: 1.2;
            box-shadow: 20px black;
          }
        }
      }
      .lap-selction-container:hover {
        top: 70%;
        transition: 1.5s ease;
      }
    }
  }
}

//Desktop Design
@media screen and (width >= 500px){
  .container {

    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    grid-template-areas:
      "top-section"
      "middle-section";
    background-color: whitesmoke;

    .top-section {
      grid-area: top-section;
      display: flex;
      @include theme;
      justify-content: center;
      align-items: center;

      #heading {
        color: whitesmoke;
        display: flex;
      }

      #details {
        color: whitesmoke;
        font-size: 1.5rem;
        margin: 1.5rem;
        text-align: center;
      }
    }

    .middle-section {
      position: relative;
      grid-area: middle-section;
      display: flex;
      flex-flow: column nowrap;
      background-color: whitesmoke;

      #map {
        z-index: 0;
        height: 100%;
      }

      .lap-selction-container {
        width: 99.46%;
        position: absolute;
        bottom: 0;
        top: 90.5%;
        display: flex;
        background-color: whitesmoke;
        border-radius: 20px 20px 0px 0px;
        border: 2px white solid;
        box-shadow: 0 0 10px 0px gray;
        transition: 1.5s ease;

        align-items: center;
        flex-flow: column nowrap;

        #collapse {
          display: flex;
          flex: 0 0 auto;
          margin: 0.5rem;
          height: 10px;
          width: 50px;
          background-color: lightgray;
          border-radius: 10px;
        }

        h3 {
          margin: 0.7rem 0rem;
        }

        #select-button {
          margin: 1rem 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;

          button {
            height: 50px;
            width: 35px;
            @include theme;
            border: 0;
            border-radius: 5px;
            color: whitesmoke;
            font-size: 1rem;
          }
          button:hover {
            scale: 1.2;
            box-shadow: 20px black;
          }
        }
      }
      .lap-selction-container:hover {
        top: 70%;
        transition: 1.5s ease;
      }
    }
  }
}