:root{
  --theme-color: #59cbfc;
}

/* Laptop screen */
@media screen and (width >= 925px){
    html, body{
      margin: 0;
      font-family: sans-serif;
      height: 100dvh;
      width: 100dvw;
      background-color: whitesmoke;
      font-size: 1rem;
    }
    
    img{
      width: 40px;
      cursor: pointer;
    }img:hover{
      opacity: 0.7;
    }
    
    .container{
      width: 100%;
      min-width: 925px;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      /* background-color: #00b3ff; */
      background: url("img/bg-island.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      
      .sidebar{
          width: 245px;
          display: flex;
          flex: 1 0 245px;
          background-color: whitesmoke;
          flex-flow: column nowrap;
    
          .sidebar-top{
              background-color: transparent;
              height: 120px;
              display: flex;
              flex: 0 0 120px;
              align-items: center;
              justify-content: center;
    
              div img{
                  width: 100px;
              }
          }
          
          .sidebar-middle{
              position: relative;
              display: flex;
              flex: 1 1 auto;
              background-color: transparent;
              flex-flow: row nowrap;
          }
          
          .sidebar-bottom{
              height: 60px;
              padding: 0 2rem;
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex: 0 0 auto;
    
              .fa-facebook{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: var(--theme-color);
                  color: white;
              }
              
              .fa-pinterest {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: var(--theme-color);
                  color: white;
                }
              
              .fa-instagram {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: var(--theme-color);
                  color: white;
              }
          }
      }
    
      .main-content{
          display: flex;
          width: 100%;
          flex-flow: column nowrap;
          
          .content-top{
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              flex: 0 0 auto;
          
              .top-container{
                  width: 82%;
                  display: flex;
                  justify-content: space-between;
                  background-color: transparent;
                  align-items: center;
                  flex-wrap: nowrap;
    
                  .services-container{
                      display: flex;
                      flex-flow: row wrap;
                      justify-content: space-around;
                      width: 100%;
                      min-width: 175px;
                      row-gap: 1rem;
                      column-gap: 1rem;
                      align-items: center;
                      
                      .menu{
                          color: whitesmoke;
                          font-weight: 600;
                          font-size: 1rem;
                          cursor: pointer;
                      }
              
                      .menu:hover{
                          opacity: 0.7;
                      }
                  }
          
                  .options-container{
                      padding: 0rem 1rem;
                      width: 300px;
                      display: flex;
                      flex: 0 0 300px;
                      justify-content: space-around;
                      align-items: center;
                      font-size: 1rem;
                  
                      .btn-sign-up{
                          border: 0;
                          width: 80px;
                          height: 30px;
                          background-color: whitesmoke;
                          border-radius: 5px;
                          text-align: center;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          color: #00b3ff;
                          font-size: 1rem;
                          cursor: pointer;
                      }.btn-sign-up:hover{
                          opacity: 0.7;
                      }
          
                      .login{
                          border: 0;
                          font-size: 1rem;
                          color: whitesmoke;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          font-weight: bold;
                          cursor: pointer;
                          background-color: transparent;
                      }
                      .login:hover{
                          opacity: 0.7;
                      }
          
                      
                      ul {
                          list-style: none;
                      }
                      ul li{
                          display: inline-block;
                          position: relative;
                      }
                      ul li div{
                          display: flex;
                          padding: 5px;
                          width: 100%;
                          height: 100%;
                          /* background-color: black; */
                          color: whitesmoke;
                          text-decoration: none;
                          text-align: center;
                          font-weight: bold;
                      }
                      ul li div:hover{
                          opacity: 0.7;
                      }
                      ul li ul.dropdown li{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          color: whitesmoke;
                          gap: 4px;
                          cursor: pointer;
                      }
                      ul li ul.dropdown{
                          width: 100%;
                          position: absolute;
                          z-index: 999;
                          display: none;
                      }
                      ul li:hover ul.dropdown{
                          display: flex;
                          flex-flow: column nowrap;
                      }
                  }
              }
          
          }
          
          .content-middle{
              display: flex;
              flex: 1 0 auto;
              align-items: center;
              background-color: transparent;
              justify-content: center;
          }
          
          .content-bottom{
              height: 60px;
              display: flex;
              align-items: center;
              background-color: transparent;
              justify-content: flex-end;
              padding: 0 1rem;
              flex: 0 0 auto;
    
              
              .help-container{
                  display: flex;        
                  width: 32px;
                  height: 100%;
                  justify-content: flex-end;
                  align-items: center ;
                  
                  .fa-circle-question::before{
                      color: whitesmoke;
                      font-size: 2rem;
                  }
              }
          }
      }
    }
    
    .floating-container{
        display: flex;
        position: absolute;
        flex-flow: row nowrap;
        align-items: center;
        top: 160px;
        bottom: 160px;
        width: 100%;
        justify-content: flex-start;
    
        .card-container{
            height: 100%;
            min-height: 400px;
            margin: 0rem 0rem 0rem 4rem;
            width: 460px;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex: 0.7 0 460px;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.199);
            overflow: hidden;
        
            .grid-container{
                padding: 2rem;
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(6, auto);
                grid-template-areas: 
                'transport transport'
                'dest dest'
                'in-date out-date'
                'adults children'
                'rooms .'
                'find find';
                align-content: space-between;
                justify-items: flex-start;
                align-items: center;
        
                .transport {
                    grid-area: transport;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    
                    .navbar {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
    
                        ul {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: 70px;
                            display: flex;
                            list-style-type: none;
                            overflow: hidden;
                            align-items: center;
                            justify-content: space-around;
    
                            li {
                                width: 25%;
                                height: 100%;
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: center;
                                align-items: center;
                                color: gray;
                                transition: background-color 0.3s ease;
                                border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                                input[type="radio"]{
                                    display: none;
                                }
                                label {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    color: gray;
                                    cursor: pointer;
                                    flex-flow: column nowrap;
                                }
                                input[type="radio"]:checked + label {
                                    color: var(--theme-color);
                                    border-bottom: 1px solid var(--theme-color);
                                }
    
                                i.fa {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }i.fa:hover {
                                    opacity: 1;
                                }
    
                                h5 {
                                    margin: 0;
                                }
                            }
                            li:hover {
                                background-color: rgb(242, 242, 242);
                            }
                        }
                    }
                }
                
                #heading{
                    color: gray;
                }         
                
                input[type=text]{
                    font-weight: bold;
                    font-size: 1rem;
                    outline: none;
                }
    
                input[type=date]{
                    outline: none;
                }
    
                input[type=number]{
                    outline: none;
                }
    
                .dest{
                    grid-area: dest;
                    width: 100%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
                    div{
                        display: flex;
                        flex-direction: row;
                    }   
                    }
    
                .in-date{
                    grid-area: in-date;
                    width: 90%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
                    display: flex;
                    flex-flow: column nowrap;
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .out-date{
                    grid-area: out-date;
                    width: 100%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
                    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .adults{
                    grid-area: adults;
                    width: 90%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .children{
                    grid-area: children;
                    width: 100%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .rooms{
                    grid-area: rooms;
                    width: 90%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .find{
                    grid-area: find;
                    border: 0;
                    margin: 1rem;
                    display: flex;
                    justify-self: center;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    width: 80%;
                    flex: 1 1 auto;
                    height: 50px;
                    background-color: var(--theme-color);
                    border-radius: 10px;
                    color: white;
                    font-size: 1rem;
                }.find:hover{
                    opacity: 0.7;
                }
    
                div h4{
                    margin: 0rem 0rem 0.5rem;
                }
    
                input{
                    border: 0;
                    width: 90%;
                }
        
            }       
      }
      
      .slogan-container{
        margin: 0rem 4rem 0rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        color: white;
        width: auto;
    
        #welcome{
            margin: 0rem;
            font-weight: 400;
            font-size: 2.8dvw;
        }
        
        #wanderlust{
            margin: 2rem 0rem 0.5rem;
            font-size: 5dvw;
        }
        
        #jobs{
            margin: 0rem;
            font-weight: 300;
            font-size: 1.67dvw;
        }
      }
    }
    
    .fa{
      padding: 7px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
    }.fa:hover{
      opacity: 0.7;
    }

    .fa-solid{
        cursor: pointer;
    }.fa-solid:hover{
        opacity: 0.7;
    }
}

/* Phone screen */
@media screen and (width < 925px){
    html, body{
        margin: 0;
        font-family: sans-serif;
        height: 100dvh;
        width: 100dvw;
        background-color: whitesmoke;
        font-size: 1rem;
    }
      
    img{
    width: 40px;
    cursor: pointer;
    }img:hover{
    opacity: 0.7;
    }
      
    .container{
        width: 100%;
        min-width: 925px;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        background: url("img/bg-island.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        
        .sidebar{
            width: 245px;
            display: flex;
            flex: 1 0 245px;
            background-color: whitesmoke;
            flex-flow: column nowrap;
      
            .sidebar-top{
                background-color: transparent;
                height: 120px;
                display: flex;
                flex: 0 0 120px;
                align-items: center;
                justify-content: center;
      
                div img{
                    width: 100px;
                }
            }
            
            .sidebar-middle{
                position: relative;
                display: flex;
                flex: 1 1 auto;
                background-color: transparent;
                flex-flow: row nowrap;
            }
            
            .sidebar-bottom{
                height: 60px;
                padding: 0 2rem;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 0 0 auto;
      
                .fa-facebook{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--theme-color);
                    color: white;
                }
                
                .fa-pinterest {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--theme-color);
                    color: white;
                  }
                
                .fa-instagram {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--theme-color);
                    color: white;
                }
            }
        }
      
        .main-content{
            display: flex;
            width: 100%;
            flex-flow: column nowrap;
            
            .content-top{
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex: 0 0 auto;
            
                .top-container{
                    width: 82%;
                    display: flex;
                    justify-content: space-between;
                    background-color: transparent;
                    align-items: center;
                    flex-wrap: nowrap;
      
                    .services-container{
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        width: 100%;
                        min-width: 175px;
                        row-gap: 1rem;
                        column-gap: 1rem;
                        align-items: center;
                        
                        .menu{
                            color: whitesmoke;
                            font-weight: 600;
                            font-size: 1rem;
                            cursor: pointer;
                        }
                
                        .menu:hover{
                            opacity: 0.7;
                        }
                    }
            
                    .options-container{
                        padding: 0rem 1rem;
                        width: 300px;
                        display: flex;
                        flex: 0 0 300px;
                        justify-content: space-around;
                        align-items: center;
                        font-size: 1rem;
                    
                        .btn-sign-up{
                            border: 0;
                            width: 80px;
                            height: 30px;
                            background-color: whitesmoke;
                            border-radius: 5px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #00b3ff;
                            font-size: 1rem;
                            cursor: pointer;
                        }.btn-sign-up:hover{
                            opacity: 0.7;
                        }
            
                        .login{
                            border: 0;
                            font-size: 1rem;
                            color: whitesmoke;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            cursor: pointer;
                            background-color: transparent;
                        }
                        .login:hover{
                            opacity: 0.7;
                        }
            
                        
                        ul {
                            list-style: none;
                        }
                        ul li{
                            display: inline-block;
                            position: relative;
                        }
                        ul li div{
                            display: flex;
                            padding: 5px;
                            width: 100%;
                            height: 100%;
                            color: whitesmoke;
                            text-decoration: none;
                            text-align: center;
                            font-weight: bold;
                        }
                        ul li div:hover{
                            opacity: 0.7;
                        }
                        ul li ul.dropdown li{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: whitesmoke;
                            gap: 4px;
                            cursor: pointer;
                        }
                        ul li ul.dropdown{
                            width: 100%;
                            position: absolute;
                            z-index: 999;
                            display: none;
                        }
                        ul li:hover ul.dropdown{
                            display: flex;
                            flex-flow: column nowrap;
                        }
                    }
                }
            
            }
            
            .content-middle{
                display: flex;
                flex: 1 0 auto;
                align-items: center;
                background-color: transparent;
                justify-content: center;
            }
            
            .content-bottom{
                height: 60px;
                display: flex;
                align-items: center;
                background-color: transparent;
                justify-content: flex-end;
                padding: 0 1rem;
                flex: 0 0 auto;
      
                
                .help-container{
                    display: flex;        
                    width: 100%;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: center ;
                    
                    .fa-circle-question::before{
                        color: whitesmoke;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
      
    .floating-container{
        display: flex;
        position: absolute;
        flex-flow: row nowrap;
        align-items: center;
        top: 160px;
        bottom: 160px;
        width: 100%;
        justify-content: flex-start;
    
        .card-container{
            height: 100%;
            min-height: 400px;
            margin: 0rem 0rem 0rem 4rem;
            width: 460px;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex: 0.7 0 460px;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.199);
            overflow: hidden;
        
            .grid-container{
                padding: 2rem;
                display: grid;
                width: 100%;
                height: 100%;
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(6, auto);
                grid-template-areas: 
                'transport transport'
                'dest dest'
                'in-date out-date'
                'adults children'
                'rooms .'
                'find find';
                align-content: space-between;
                justify-items: flex-start;
                align-items: center;
        
                .transport {
                    grid-area: transport;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    
                    .navbar {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
    
                        ul {
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: 70px;
                            display: flex;
                            list-style-type: none;
                            overflow: hidden;
                            align-items: center;
                            justify-content: space-around;
    
                            li {
                                width: 25%;
                                height: 100%;
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: center;
                                align-items: center;
                                color: gray;
                                transition: background-color 0.3s ease;
                                border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                                input[type="radio"]{
                                    display: none;
                                }
                                label {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    color: gray;
                                    cursor: pointer;
                                    flex-flow: column nowrap;
                                }
                                input[type="radio"]:checked + label {
                                    color: var(--theme-color);
                                    border-bottom: 1px solid var(--theme-color);
                                }
    
                                i.fa {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }i.fa:hover {
                                    opacity: 1;
                                }
    
                                h5 {
                                    margin: 0;
                                }
                            }
                            li:hover {
                                background-color: rgb(242, 242, 242);
                            }
                        }
                    }
                }
                
                #heading{
                    color: gray;
                }         
                
                input[type=text]{
                    font-weight: bold;
                    font-size: 1rem;
                    outline: none;
                }
    
                input[type=date]{
                    outline: none;
                }
    
                input[type=number]{
                    outline: none;
                }
    
                .dest{
                    grid-area: dest;
                    width: 100%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
                    div{
                        display: flex;
                        flex-direction: row;
                    }   
                    }
    
                .in-date{
                    grid-area: in-date;
                    width: 90%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
                    display: flex;
                    flex-flow: column nowrap;
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .out-date{
                    grid-area: out-date;
                    width: 100%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
                    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .adults{
                    grid-area: adults;
                    width: 90%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .children{
                    grid-area: children;
                    width: 100%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .rooms{
                    grid-area: rooms;
                    width: 90%;
                    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
                    div{
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .find{
                    grid-area: find;
                    border: 0;
                    margin: 1rem;
                    display: flex;
                    justify-self: center;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    width: 80%;
                    flex: 1 1 auto;
                    height: 50px;
                    background-color: var(--theme-color);
                    border-radius: 10px;
                    color: white;
                    font-size: 1rem;
                }.find:hover{
                    opacity: 0.7;
                }
    
                div h4{
                    margin: 0rem 0rem 0.5rem;
                }
    
                input{
                    border: 0;
                    width: 90%;
                }
        
            }       
    }
    
    .slogan-container{
        margin: 0rem 4rem 0rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: transparent;
        color: white;
        width: auto;
    
        #welcome{
            margin: 0rem;
            font-weight: 400;
            font-size: 2.8dvw;
        }
        
        #wanderlust{
            margin: 2rem 0rem 0.5rem;
            font-size: 5dvw;
        }
        
        #jobs{
            margin: 0rem;
            font-weight: 300;
            font-size: 1.67dvw;
        }
    }
    }
    
    .fa{
    padding: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    }.fa:hover{
    opacity: 0.7;
    }
}




